In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('cereals.csv','\t')
# df = pd.DataFrame(data)

In [15]:
data.head(10)

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,name
0,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973,100%_Bran
1,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679,100%_Natural_Bran
2,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505,All-Bran
3,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912,All-Bran_with_Extra_Fiber
4,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843,Almond_Delight
5,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541,Apple_Cinnamon_Cheerios
6,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094,Apple_Jacks
7,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562,Basic_4
8,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253,Bran_Chex
9,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813,Bran_Flakes

In [13]:
data.shape

(77, 14)